[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bentoml = "*"
xgboost = "*"
scikit-learn = "==1.0.2"
pandas = "*"
pydantic = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
locust = "*"

[requires]
python_version = "3.9"
