[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.7"
keras-image-helper = "*"
tflite-runtime = "*"
numpy = "*"
pandas = "*"
tensorflow-datasets = "*"
grpcio = "==1.42.0"
tensorflow-serving-api = "==2.7.0"
flask = "*"
streamlit = "*"
gunicorn = "*"
tensorflow-protobuf = "==2.7.0"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
